*{
  box-sizing: border-box;
}
body {
  background-color: #222629;
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* login style  */
.container {
  width: 800px;
  height: 500px;
  padding: 20px 0;
  position: relative;
  /* margin-top: 10%; */
}
.block {
  height: 100%;
  background-color: rgba(29, 28, 26, 0.2);
  display: flex;
  align-items: center;
}
.block__item {
  width: 50%;
}

.block-item {
  text-align: center;
}
.block-item__title{
  font-size: 2rem;
  font-weight: 500;
  color: #6B6E70;
  margin-bottom: 10px;
}
.block-item__btn {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #86C232;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.form-box {
  background-color: rgba(29, 28, 26);
  height: 100%;
  width: 50%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.form-box.active{
  left: 50%;
}

.form {
  width: 100%;
  padding: 50px;
  font-size: 20px;
  position: absolute;
  transition: 0.5s ;
}
.form_signin {
  left: 0;
  transition-delay: 0.25s;
}

.form_signup {
  left: 100%;
  transition-delay: 0s;
}
.form-box.active .form_signin {
  left: -100%;
  transition-delay: 0s;
}

.form-box.active .form_signup {
  left: 0;
  transition-delay: 0.2s;
}

.form__title {
  font-size: 1.5em;
  font-weight: 500;
  color: #6B6E70;
}

.form__input {
  width: 100%;
  padding: 10px;
  border: solid 1px #333;
  font-size: inherit;
  border-radius: 5px;
}

.form__btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
  background-color: #86C232;
  border-radius: 5px;
  color: #fff;
  padding: 10px 50px;
}
@media (max-width:992px) {
  .container {
    max-width: 400px;
    height: 650px;
    padding: 0;
    margin: auto;
  }
  .block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .block-item {
    width: 100%;
    padding: 30px 0;
  }
  .form-box {
    width: 100%;
    height: 500px;
    top: 0;
  }
  .form-box.active {
    top: 150px;
    left: 0;
  } 
  .form__btn {
    padding: 10px 20px;
  }

}


/* todolist style  */

